# Bootstrap
/app/bootstrap.php.cache

# Symfony directories
/app/cache/*
/app/logs/*
/www/bundles/
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/www/uploads/*

# Configuration files
/app/config/parameters.yml

/.idea/*