{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NewsLink creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
<<<<<<< HEAD
        <a href="{{ path('news_link') }}">
=======
        <a href="{{ path('news') }}">
>>>>>>> 088c128b5d3c8fc55bd8fc171363dc03b4423771
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
