<form role="form" action="{{ path("fos_user_security_check") }}" method="post">
    <div class="form-group">
        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" class="form-control" id="username" name="_username" required="required" value="">
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" name="_password" required="required" />
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>