{% extends '::base.html.twig' %}

{% block body -%}
<<<<<<< HEAD
    <h1>Занесение новости</h1>
    {% include 'MainBundle:News:form.html.twig' %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('news') }}">
                Назад к списку
            </a>
        </li>
    </ul>
=======
    <h1>News creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('news') }}">
            Back to the list
        </a>
    </li>
</ul>
>>>>>>> 088c128b5d3c8fc55bd8fc171363dc03b4423771
{% endblock %}
