{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">Hi {{ app.user.username }}</div>
            <div class="col-md-4">
                <div style="width: 100%; height: 150px; background-color: lightgrey; border-radius: 10px; padding: 25px; font-weight: bold; color:#000;">
                    <p>SuberMobFreeBi.Com</p>
                    <p>{{ app.user.createdAt|date('m/y') }}</p>
                    <span>{{ app.user.getFormatingCard() }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Обменять</a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Обмен</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Обмен SuperMOBов!</th>
                                <th>Количество SuperMOBов!</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Остаток SuperMOBов!</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Обменять SuperMOB!</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Виртуальная валюта (ОК)</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <input value="" placeholder="Введите Ваш логин"/>
                                            </td>
                                            <td>
                                                <input value="" placeholder="Введите 4-х значный код с номера Odkl.ru"/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>Магазин контента</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Дотарификация</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Скидка на Интернет*</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>* только для абонентов Домашки</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Оборудование ОСС</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>- ваучер пополнение</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>- стартовый пакет</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Помощь АТО</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Обмен SuperMOBов!</td>
                                <td>0</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}