{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">Hi {{ app.user.username }}</div>
            <div class="col-md-4">
                <div style="width: 100%; height: 150px; background-color: lightgrey; border-radius: 10px; padding: 25px; font-weight: bold; color:#000;">
                    <p>SuberMobFreeBi.Com</p>
                    <p>{{ app.user.createdAt|date('m/y') }}</p>
                    <span>{{ app.user.getFormatingCard() }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}