{% extends '::base.html.twig' %}
{% block body %}
    {{ render(controller('MainBundle:PageLayout:Slider')) }}
    <style>
        h2 {
            margin-top: 5px;
        }
    </style>
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="">{{ entity.name }}</h2>
                <hr class="featurette-divider" style="margin-bottom: 20px; margin-top: 0px;"/>
                <p class="">{{ entity.text|raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}