{% extends '::base.html.twig' %}
{% block body %}
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">{{ entity.name }}</h2>
                <p class="lead">{{ entity.text }}</p>
            </div>
            {#<div class="col-md-5">#}
                {#<img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">#}
            {#</div>#}
        </div>
        <hr class="featurette-divider">
    </div>
{% endblock %}